# ~/.aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias gs='git status'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline --graph --decorate -20'
alias ga='git add -A'
alias gd='git diff'
alias gr='git rebase'
alias py='python3'
alias ipy='python3 -m IPython'
alias venv='python3 -m venv .venv && source .venv/bin/activate'
alias dps='docker ps --format "table {{.Names}}\t{{.Status}}\t{{.Ports}}"'
alias dc='docker compose'